* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $defaultFont;
    color: $fontColor;
}

h2, h3 {
    text-transform: capitalize;
    border-bottom: 3px solid black;
}

