@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap&#39;');

$defaultFont : 'Work Sans', sans-serif;
$fontColor : darkgray;
$defaultColor : #EC523F;
$html-block : #1ABC9C;
$scss : #E67E22;
$database-block : #3498DB;
$full-stack : #2ECC71;